.App {
  height: 100%;
  width: 100%;
}

.menu {
  background: white;
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
  height: 5vh;
  margin-top: 3vh;
  text-transform: uppercase;
  position: sticky;
  font-family: 'Staatliches', cursive;
}

.current-menu {
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 0.5vh 0px;
}

.home-title {
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Staatliches', cursive;
  padding: 2%;
  padding-top: 5%;
}

.home-divider {
  border: solid black 0.5vh;
  width: 2vw;
  display: inline-block;
}

.home-subtitle {
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 2em;
  padding: 2em;
}

.home-quote {
  font-size: 3em;
  height: 20vh;
  padding-top: 10vh;
  padding-left: 20vw;
  font-family: 'Nixie One', cursive;
}

.centering-guide{
  width: 100%;
  text-align: center;
}

.slider-circle, .current-slider {
  display: inline-block;
  width: 1vh;
  height: 1vh;
  border-radius: 50%;
  border: solid black 2px;
  margin: 1%;
  margin-bottom: 2%;
}

.current-slider {
  background: black;
}

.slider-circle {
  background: transparent;
}

.down-arrow {
  display: inline-block;
  box-sizing: border-box;
  height: 3vh;
  width: 3vh;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.down-arrow:hover{
  border-bottom-width: 5px;
  border-right-width: 5px;
}